<!DOCTYPE html>
<!--[if IEMobile 7 ]>    <html class="no-js iem7"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
        <link rel="apple-touch-icon-precomposed" href="#">
        <link rel="shortcut icon" href="#">
        <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="#">
        <meta name="msapplication-TileColor" content="#222222">


        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/jquery-mobile.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/modernizr.js"></script>
    </head>
    <body>

    <div id="home-page" data-role="page">
    <div id="home-header" data-role="header">
    	<h1><i class="icon-home"></i> Header</h1>
    </div><!-- /#header -->

    <div id="home-content" data-role="content">
    	<input type="search" placeholder="search twitter" id="search-term">
    	<a data-role="button" href="#" id="search-button">Search</a>
        <ul id="twitter-results" data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

        </ul>
    </div><!-- /#home-page -->

    <div id="footer" data-role="footer">

        <div data-role="navbar" class="nav-glyphish-example">
        <ul>
            <li><a href="index.html" id="home" data-icon="home">Home</a></li>
            <li><a href="about.html" id="about" data-icon="info">About</a></li>
            <li><a href="contact.html" id="contact" data-icon="star">Contact</a></li>
            <li><a href="gallery.html" id="gallery" data-icon="grid">Gallery</a></li>
        </ul>
        </div>

    	<h1><i class="icon-coffee"></i> 2013 - jQuery Mobile starting template</h1>

    </div><!-- /#footer -->
    </div>

        <script id="twitter-template" type="text/template">
            <% _.each(results, function(tweet){ %>
                <li class="ui-btn ui-btn-icon-right ui-li ui-li-has-thumb ui-btn-up-c" data-icon="false">
                    <div class="ui-btn-inner ui-li">
                        <div class="ui-btn-text">
                            <a href="#" class="ui-link-inherit">
                                <img src="https://api.twitter.com/1/users/profile_image?screen_name=<%= tweet.from_user %>&size=bigger" class="ui-li-thumb">
                                <h2 class="ui-li-heading">@<%= tweet.from_user %></h2>
                                <p class="ui-li-desc"><%= tweet.text %></p>
                            </a>
                        </div>
                    </div>
            <% }); %>

        </script>

	  <script src="js/jquery.js"></script>
      <script src="js/underscore.js"></script>
	  <script src="js/jquery-mobile.js"></script>
	  <script src="js/script.js"></script>
    </body>
</html>
